<launch>
    <arg name="arg_ns" default="pm"/>
    <group ns="$(arg arg_ns)">
        <node pkg="rosserial_python" type="serial_node.py" name="vitulus_ups" output="screen">
            <param name="port" value="/dev/ups"/>
            <param name="baud" value="115200"/>
        </node>
    </group>
</launch>
